<style>
    body {
        font-size: x-large;
    }

    .used {
        background-color: rgba(0, 255, 33, .1);
    }

    .provided {
        background-color: rgba(0, 255, 255, .1);
    }

    input {
        font-size: 1em;
        border: none;
        background-color: transparent;
    }
</style>

<div class="grid grid--y">
    <h1 class="grid-cell g--fit">
        <input class="grid-cell" ng-model="event.name" type="text" />
    </h1>
    <form class="grid grid--y" id="initial-participant" ng-hide="event.participants.length > 0">
        <legend class="grid-cell g--fit">Who's making the event?</legend>

        <label class="formcontrol">
            <b class="formcontrol-label">Name</b>
            <input class="formcontrol-input" type="text" id="txtInitialParticipantName" required ng-model="newParticipant.Name" />
        </label>

        <nav>
            <button type="button" class="submit" ng-click="createParticipant()">Start splitting</button>
        </nav>
    </form>

    <div class="grid grid--y g--fit grid--main-center" ng-show="event.participants.length > 0">
        <div class="grid g--fit">
            <button type="button" class="btn grid-cell" ng-repeat="p in participants" ng-click="event.selectedParticipant = p" ng-class="{'btn--primary': p.id === event.selectedParticipant.id}">{{p.name}}</button>
        </div>

        <div class="items grid grid--y g--fit">
            <div class="items-item grid g--fit" ng-repeat="item in items" ng-class="{'used': event.selectedParticipant.usesItem(item),'provided': event.selectedParticipant.hasPurchased(item)}">
                <input class="grid-cell g--fit" type="text" ng-model="item.name" placeholder="Item" />
            </div>
            <div class="grid-cell g--fit">
                <input class="grid-cell" type="text" ng-model="newItem.name" placeholder="Add item" />
            </div>
        </div>
    </div>
</div>