<h1>
    <input ng-model="event.Name" type="text">New event</input>
</h1>
<form id="initial-participant" focus ng-hide="event.Participants.length > 0">
    <legend>Who's making the event?</legend>
    <ul class="input">
        <li>
            <label>Name</label>
            <input type="text" id="txtInitialParticipantName" class="text required" ng-model="newParticipant.Name" />
        </li>
    </ul>
    <nav>
        <button type="button" class="submit" ng-click="createParticipant()">Start splitting</button>
    </nav>
</form>
<div ng-show="event.Participants.length > 0">
    <table class="table-view">
        <thead>
            <tr>
                <th></th>
                <th ng-repeat="i in event.Items">
                    <input type="text" ng-model="i.Name" placeholder="Item" />
                    <input type="text" ng-model="i.Price" placeholder="Price" />
                    <select ng-model="i.Participant" ng-options="i.Name for i in event.Participants" />
                    <!--<span class="name">{{i.Name}}</span>
                    <span class="price">{{i.Price}}</span>-->
                    <div>Usage: {{calcUsage(i)}}</div>
                </th>
                <th class="add-item">
                    <input type="text" ng-model="newItem.Name" placeholder="Item" />
                    <input type="text" ng-model="newItem.Price" placeholder="Price" />
                    <select ng-model="newItem.Participant" ng-options="i.Name for i in event.Participants" />
                    <button type="button" ng-click="createItem()"><i class="icon-add"></i></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in event.Participants">
                <th>
                    <ul class="input placeholder">
                        <li>
                            <input type="text" class="text required" placeholder="Name" ng-model="p.Name" />
                            <!--<span contenteditable="true" ng-model="p.Name" class="name"></span>-->
                        </li>
                        <li>
                            <span class="balance">{{calcBalance(p) | currency:currencySymbol}}</span>
                        </li>
                    </ul>
                </th>
                <td ng-repeat="i in event.Items">
                    <input type="checkbox" ng-model="p.Participant_Item[$index].enabled" />
                    <label>{{calcShare(i, p.Participant_Item[$index].enabled) | currency:currencySymbol}}</label>
                </td>
            </tr>
        <th class="add-participant">
            <!--<input type="text" ng-model="newParticipant.Name" placeholder="Name" />-->
            <!--<button type="button" ng-click="createParticipant()"><i class="icon-add"></i></button>-->
            <div ng-bedrockform id="Div1" focus>
                <ul class="input placeholder">
                    <li>
                        <input type="text" id="txtParticipantName" class="text required" placeholder="Name" ng-model="newParticipant.Name" />
                    </li>
                </ul>
                <nav>
                    <button type="button" class="submit" ng-click="createParticipant()" class="hidden">Add</button>
                </nav>
            </div>
        </th>
        </tbody>
    </table>

    <button type="button" ng-click="saveEvent()">Save stuff</button>

</div>
