<style>
    body {
        font-size: x-large;
    }

    .provider {
        background-color: rgba(0, 255, 33, .1);
    }

    input {
        font-size: 1em;
    }

    .participant {
        border-bottom: 1px solid #ccc;
    }

    .participant input {
        border: none;
    }

    .items-item {
        border: 1px solid cyan;
    }
</style>

<div class="grid grid--y">
    <h1 class="grid-cell g--fit">
        <input class="grid-cell" ng-model="event.name" type="text" />
    </h1>
    <form class="grid grid--y" id="initial-participant" ng-hide="event.participants.length > 0">
        <legend class="grid-cell g--fit">Who's making the event?</legend>

        <label class="formcontrol">
            <b class="formcontrol-label">Name</b>
            <input class="formcontrol-input" type="text" id="txtInitialParticipantName" required ng-model="newParticipant.Name" />
        </label>

        <nav>
            <button type="button" class="submit" ng-click="createParticipant()">Start splitting</button>
        </nav>
    </form>

    <div class="grid grid--y" ng-show="event.participants.length > 0">
        <div class="items grid g--fit">
            <div class="grid-cell g--1of5">
                Participants
            </div>
            <div class="grid grid--main-end">
                <div class="items-item grid-cell" ng-repeat="item in items">
                    {{item.name}}
                    <!--<input class="grid-cell" type="text" ng-model="item.name" placeholder="Item" />-->
                </div>
                <!--<div class="grid-cell">
                    <button type="button" class="btn">Add item</button>
                </div>-->
            </div>

        </div>

        <div class="participant grid g--fit" ng-repeat="participant in event.participants">
            <div class="grid grid--y g--1of5">
                <input class="grid-cell" type="text" ng-model="participant.name" placeholder="Participant name" />
                <span class="grid-cell balance">{{calcBalance(participant) | currency:currencySymbol}}</span>
            </div>

            <label class="grid grid--main-center grid--cross-center" ng-repeat="item in items" ng-class="{'provider': participant.hasPurchased(item)}">
                <input class="grid-cell g--fit" type="checkbox" ng-click="participant.toggleUse(item)" ng-checked="participant.usesItem(item)" />
                <!--<span class="grid-cell g--fit">{{calcUsage(item)}}</span>-->
            </label>
        </div>
        <div class="participant grid g--fit">
            <div class="grid g--1of5 grid--y">
                <input class=" grid-cell" type="text" ng-model="newParticipant.name" placeholder="Add participant" ng-model-options="{updateOn: 'blur'}" />
            </div>
        </div>


    </div>
    <!--<table class="table-view">
        <thead>
            <tr>
                <th></th>
                <th ng-repeat="i in items">
                    <input type="text" ng-model="i.name" placeholder="Item" />
                    <input type="text" ng-model="i.Price" placeholder="Price" />
                    <select ng-model="i.Participant" ng-options="i.name for i in event.participants" />
                    <div>Usage: {{calcUsage(i)}}</div>
                </th>
                <th class="add-item">
                    <input type="text" ng-model="newItem.name" placeholder="Item" />
                    <input type="text" ng-model="newItem.Price" placeholder="Price" />
                    <select ng-model="newItem.Participant" ng-options="i.Name for i in event.participants" />
                    <button type="button" ng-click="createItem()"><i class="icon-add"></i></button>
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="p in event.participants">
                <th>
                    <ul class="input placeholder">
                        <li>
                            <input type="text" class="text required" placeholder="Name" ng-model="p.Name" />
                        </li>
                        <li>
                            <span class="balance">{{calcBalance(p) | currency:currencySymbol}}</span>
                        </li>
                    </ul>
                </th>
                <td ng-repeat="i in event.Items">
                    <input type="checkbox" ng-model="p.Participant_Item[$index].enabled" />
                    <label>{{calcShare(i, p.Participant_Item[$index].enabled) | currency:currencySymbol}}</label>
                </td>
            </tr>
        <th class="add-participant">
            <div ng-bedrockform id="Div1" focus>
                <ul class="input placeholder">
                    <li>
                        <input type="text" id="txtParticipantName" class="text required" placeholder="Name" ng-model="newParticipant.Name" />
                    </li>
                </ul>
                <nav>
                    <button type="button" class="submit" ng-click="createParticipant()" class="hidden">Add</button>
                </nav>
            </div>
        </th>
        </tbody>
    </table>

    <div class="grid-cell">
        <button type="button" ng-click="saveEvent()">Save stuff</button>
    </div>-->
</div>
</div>